---
layout: layout
title: "Games"
---

{% for game in site.data.games %}
    <h2>{{ game.name }}</h2>
    <p>
    {% if game.logo_path %}
    <img class="game_thumbnail" src="{{ game.logo_path }}" alt="{{ game.name logo}}"/><br/>
    {% endif %}
    {{ game.short_descr }}
    <ul>
        {% if game.github_id %}
            <li><a href="https://github.com/{{ game.github_id }}">Source (Github)</a></li>
        {% endif %}
        {% if game.stackmachine_id %}
            <li><a href="https://stackmachine.com/games/{{ game.stackmachine_id }}/download/windows">Download (Windows)</a></li>
            <li><a href="https://stackmachine.com/games/{{ game.stackmachine_id }}/download/osx">Download (OSX)</a></li>
            <li><a href="https://stackmachine.com/games/{{ game.stackmachine_id }}/download/love">Download (.love file)</a></li>
        {% endif %}
    </ul>

    <hline/>
{% endfor %}
