---
layout: page
title: Thomas Chapeaux
tagline: (just some Computer Science student)
---

<p>Welcome to my personal corner of the Internet <i class="fa fa-smile-o"></i></p>

<!-- My age is computed by substracting my birthday's epoch time by the current epoch time, then dividing by the number of seconds in a year... It seemed like the easiest way.

Note that if you are looking at this in your browser you won't see it -->
<p>I'm a {{ site.time | date: "%s" | minus: 658800000 | divided_by: 31557600 }} years old in its last year of Master Degree in Computer Science. If you're a nice employer looking for a social and competent developer, you can check <a href="/assets/media/resume-thomas-chapeaux.pdf">my resume</a>.</p>

<p>Don't forget to check out my <a href="games.html">games</a> if you're into that sort of things.</p>

<h1>Latest Articles</h1>

{% for post in paginator.posts %}

        <article class="home">

            <span class="post-date">
                {% assign d = post.date | date: "%d" | plus:'0' %}
                {{ post.date | date: "%B" }}
                {% case d %}
                  {% when 1 or 21 or 31 %}{{ d }}st,
                  {% when 2 or 22 %}{{ d }}nd,
                  {% when 3 or 23 %}{{ d }}rd,
                  {% else %}{{ d }}th,
                {% endcase %}
                {{ post.date | date: "%Y" }}
            </span>

            <h2>
                <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
            </h2>

            <div>
                {% if post.fullview %}
                  {{ post.content }}
                {% else %}
                    {% if post.shortinfo %}
                        {{ post.shortinfo }}
                    {% elsif post.description %}
                        {{ post.description }}
                    {% else %}
                        {{ post.excerpt }}
                    {% endif %}
                {% endif %}
            </div>

        </article>
{% endfor %}
<hr/>

<ul class="pager">

  {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.BASE_PATH }}/">&larr; Newer</a>
      {% else %}
        <a href="{{ site.BASE_PATH }}/page{{ paginator.previous_page }}">&larr; Newer</a>
      {% endif %}
    </li>
  {% else %}
    <li class="previous disabled">
      <a>&larr; Newer</a>
    </li>
  {% endif %}

  <li>
          <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
    <li class="next">
            <a href="{{ site.BASE_PATH }}/page{{ paginator.next_page }}">Older &rarr;</a>
    </li>
  {% else %}
    <li class="next disabled">
            <a>Older &rarr;</a>
    </li>
  {% endif %}

</ul>
